@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Belanosima&family=DM+Sans:wght@500&family=Geologica:wght@600&display=swap');


*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
}
.head {
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 78px;
    padding: 39px 40vw 0px 40vw;
    background-image: url(mvp.png);
    background-size: contain;
   
}
.header{
    display: flex;
    height: auto;
    width: 100vw;
    background-color: rgb(230, 166, 4);
    /* font-family: 'Barlow', sans-serif; */
    font-family: 'Belanosima', sans-serif;
    
}
.header{
    position: sticky;
    top: 0px;
}

NAV UL{
    display: flex;
    list-style: none;   
}
NAV UL LI A{ 
    text-decoration: none;
    color: black;
}
NAV UL LI{
    margin: 20PX 40PX;
}
.COMING{
    color: black;
    font-size: 300PX;
}